@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

body {
    margin:0 auto;
    padding-bottom: 0;
    font-family: 'Oswald', sans-serif;
    color: #404040;
    position: relative;
}

.bck_b_dark {
    background: #272723;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

/*======================== 
BEERS CONTAINER
========================*/
.beerListHeader, .breweriesHeader {
    text-align: center;
    font-size: 5em;
    font-family: Oswald, sans-serif;

}

.beersList {
    color:blue;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

/*======================== 
BREWERIES CONTAINER
========================*/
.breweriesList {
    display: flex;
    flex-wrap: wrap;
 }




/*=========
   FOOTER 
 ========*/
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .logo {
    text-align: center;
    font-family: 'Monoton', cursive;
    color: Black;
    font-size: 40px;
    padding: 11px 0px;
    border-bottom: 1px solid #4d4d4d;
}

footer .wrapper {
    display: flex;
    color: black;
}

footer .left,
footer .right {
    flex: 1;
}

footer .business_nfo {
    display: flex;
    flex-wrap: wrap;
}

footer .business_nfo .tag {
    flex-grow: 1;
    position: relative;
    width: 50%;
    margin-bottom: 30px;
}
footer .business_nfo .icon {
    position: absolute;
    font-size: 26px;
    top: 10px;
}
footer .business_nfo .nfo {
    padding-left: 40px;
}

